/* hoja de estilo del ejercicio index2 de cancion del pirata */
@font-face {
    font-family: caligrafia;
    src: url(../fonts/GreatVibes-Regular.ttf);
}

body {background-color: black;
      font-family: caligrafia;}

#container {background-image: url(../images/fondo2.jpg);
            background-size: cover; /* adapta la imagen de fondo al contenedor */
            background-position: center;
            width: 90%;
            margin: auto;
            padding: 25px 0;
            font-size: 1.3em;}

#poema {background-color: rgba(221, 195, 134, 0.767);
        width: 220px;  /* tengo en cuneta que la suma de píxeles debe respetar el ancho de un movil */
        padding: 20px;
        margin-left: 20px;}
